@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 80vw;
  margin: 0 auto;
  border-bottom: 2px solid #f2f2f2;
}
.navbar img {
  width: 10%;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 1vw;
  text-decoration: none;
  padding: 6px;
  font-size: 2vw;
}
.navbar a:hover {
  color: #f1356d;
}

.header{
    color: #070606;
    font-family: arial, sans-serif;
    font-size: 8ch;
    font-weight: bold;
    margin-left: 5%;
    margin-bottom: 1px
}
.teams{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2vw;
    width: 80%;
    margin-inline: auto;
    background-color: rgb(247, 247, 247);
    padding: 3%;
    a{
      flex-basis: 45%;
      text-decoration: none;
    }
    .team{
        height: 100%;
        width: 100%;
        padding: 1%;
        flex-basis: 45%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid black;
        .team-title{
            width: 40%;
            h1{
                text-align: center;
                margin-bottom: 1%;
            }
        }
        
        .team-img{
            text-align: center;
            img{
                width: 40%;
                &:hover{
                    cursor: pointer;
                }
            }
        }
    }
    
}

.addTeamForm{
  float: right;
}
