.productsItems{
    margin-inline: auto;

}
.productsContainer{
    display: flex;
}
.productsCategories{
    width: 25%;
}
.productsList{
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    background-color: #F6F6F6;
    justify-content: space-around;

    .product{
        margin-block: 1rem;
        border: 1px solid black;
        flex-basis: 30%;
        width: 30%;
        display: flex;
        justify-content: space-between;

        .productInfo{
            border: 1px solid black;
        }
    }
   img{
    width: 100%;
   }
}
